@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");

html,
body {
    font-family: "Montserrat", sans-serif;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
    /* background-color: #254E58; */
    /* Corporate Phthalo Green */
}

div#main {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

section {
    position: relative;
    width: 100vw;
}

section.min-height {
    min-height: 100vh;
    background-color: #257d8d;
    /* Pewter Blue for contrast */
}

section.padding {
    padding: 5rem 0;
    /* background-color: #4F4A41; */
    /* Dark Slate Gray */
}

section img.background {
    height: 100%;
    left: 50%;
    object-fit: cover;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translate(-50%, 0);
    width: 100vmax;
    z-index: -1;
}

h1 {
    font-family: "Cormorant Garamond", serif;
    font-size: 7rem;
    font-weight: 400;
    line-height: 0.8;
    margin: 0;
    color: #88BDBC;
    /* Pewter Blue */
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    padding-top: 1rem;
    color: #88BDBC;
    /* Pewter Blue */
}

h3 {
    font-weight: 400;
    font-size: 1.25rem;
    margin: 0;
    color: #88BDBC;
    /* Pewter Blue */
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0;
    font-weight: 300;
    color: hsl(185, 55%, 39%);
    /* Light color for contrast on dark backgrounds */
}

p.large {
    font-size: 24px;
}

p.small {
    font-size: 15px;
}

hr {
    margin: 2.5rem;
    border-color: #4F4A41;
    /* Dark Slate Gray */
}

li {
    line-height: 1.7;
    color: hsl(185, 55%, 39%);
    /* Light color for contrast */
}

li::marker {
    color: #88BDBC;
    /* Pewter Blue */
}

a {
    color: #88BDBC;
    /* Pewter Blue */
    text-decoration: none;
}

a:hover {
    color: #4F4A41;
    /* Dark Slate Gray */
}

.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 330px 300px;
    margin: 20px auto;
    /* background-color: #0e0e0e; */
    /* Corporate Phthalo Green */
}

.container .box {
    border-radius: 10px;
    border: 1px solid hsl(188, 38%, 32%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px 16px;
    text-align: center;
    background-color: #000000;
    /* Pewter Blue */
}

img.socialIcon {
    height: 30px;
    width: 30px;
}